main {
    display: flex;
    height: 90vh;
}

#canvas {
    flex-grow: 4;
}

#controls {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightsteelblue;
    padding-top: 5%;
    padding-bottom: 5%;
}